# SerpAPI SDK
serpapi==0.1.5
 
# HTML scraping
requests==2.32.3
beautifulsoup4==4.12.3
lxml==5.2.2
 
# Preprocessing
nltk==3.9.1
spacy==3.7.6
langdetect==1.0.9
 
# Embedding
sentence-transformers==3.0.1
torch>=2.0.0
faiss-cpu==1.8.0
numpy==1.26.4
tqdm==4.66.4
 